<div class="block-border">
	<div class="block-content form">
		<fieldset class="grey-bg">
			<legend>Required Field</legend>
			<div class="columns">
				<p class="colx3-left required select-fixed-width1">
					<label for="Passenger Type">Passenger Type</label>
					<%= select :fee_collection,:passenger_type,["Select","Employee","student"]%>
				</p>
				<p class="colx3-left required select-fixed-width1">
					<label for="transport_fee_name">Transport Fee Category</label>
					<%= select :fee_collection,:fee_category,@transport_fee_category.map {|s| [s.name, s.id]}, :prompt => "Select "%>
				</p>
				<p class="colx3-left required">
					<label for="Fee Collection Date">Fee Collection Date</label>
					<span class="input-type-text"><%=text_field :collection,:date,:value=>Date.today.strftime('%d''-''%m''-''%Y') ,:readonly=>1, :size => 20%><%= image_tag "icons/fugue/calendar-month.png" %></span>
				</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button" value="View Report" id="view_collection_report" />
			</p>
		</fieldset>
	</div>
</div>
