
<div class="block-border" id = "outer_block">
	<form class="block-content form">
		<h1>Timetable</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					
					<a  href="/dashboard" ><img width="32" height="32" src="/assets/icons/web-app/32/Back.png" ></a>
				</li>
			</ul>
		</div>
		<fieldset class="grey-bg ">
			<div class="columns">
				<p class="inline-small-label">
					<label for="simple-action" >Employee</label>
					<select id="employee_find_batch" name="select3"></select>
					<!-- <%= select :employees, :first_name_id,  @employee.map {|b| [b.first_name, b.id] }, {:prompt => 'Select'}%> -->
				</p>
			</div>
		</fieldset>
		<fieldset class="grey-bg no-margin" >
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button view_employees_time_table" value="View Timetable"/>
								
			</p>
		</fieldset>
	</form>
</div>
