<div class="block-border" >
	<%= form_for :user, :url => {:controller=>"users", :action => "change_password"},  :html => { :class => "block-content form", :id => "change-password-form"}, do |changepasswordform| %> <h1>Edit User</h1>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li >
				<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
		</ul>
	</div>
	<%= render 'shared/form_notice' %> <h3>Update user information</h3>
	<br/>
	<fieldset>
		<div class="columns">
			<p class="inline-small-label">
				<label class="required" for="field13">Old Password</label>
				<input type="password" name="oldpassword" id="oldpassword">
			</p>
			<p class="inline-small-label">
				<label class="required" for="field13">New Password</label>
				<input type="password" name="newpassword" id="newpassword">
			</p>
			<p class="inline-small-label">
				<label class="required" for="field13">Confirm Password</label>
				<input type="password" name="confirmpassword" id="confirmpassword">
			</p>
		</div>
	</fieldset>
	<button type="submit" id="change-password">
		Update
	</button>
	<%end%>
</div>