<div class="block-border"  id ="outer_block">
<%= form_for :user, :url => {:controller=>"users", :action => "reset_password_of_any_user"},  :html => { :class => "block-content form", :id => "change-password-form"} do |changepasswordform| %>
		<h1>Reset Password</h1>	
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<%= render 'shared/form_notice' %>
	<% if @user.admin? %>
	<fieldset>
		<div class="columns">
			<p class="inline-small-label">
				<label class="required" for="field13">User Name</label>
				<!-- <input type="text" name="username" id="username"> -->
				<select  id="reset_password_admin" name="reset_password" ></select>
			</p>
		</div>
	</fieldset> 
	<button type="button" id="reset-password">
		Reset Password
	</button>
	<%end%>
	<%end%>
</div>
