<div id = "outer_block">

<table class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			 <th class="black-cell"><input type="checkbox" name="batch_assign_subject"   class = "parent_checkbox_elective"/></th>
			<th scope="col"> Skill Name </th>
			<th scope="col"> Elective Group </th>
		</tr>
	</thead>
	
	<tbody id = "skills_elective_assign">
		
	</tbody>
</table>

</div>