<form class="block-content form" id="table_form" method="post" action="">
	<h1>Active Courses List</h1>
	<table id="course" class="table courseslist no-margin" cellspacing="0" width="100%">
		<thead>
			<%= render 'table_head' %>
		</thead>
		<tbody>
			<% @courses.each do |course| %>
			<%= render 'table_row', :course => course %>
			<% end %>
		</tbody>
	</table>
	<input type="hidden" id="url_prefix" name="url_prefix" value="/courses" />
</form>

