<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_student_co_scholastic_area_assessment_detail_path(@student_co_scholastic_area_assessment_detail) %> |
<%= link_to 'Back', student_co_scholastic_area_assessment_details_path %>
