			<div class="block-border"><div class="block-content">
				<h1>Timetable</h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li><a href="<%= timetable_day_path %>" title="Today">Today Timetable</a></li>
						<li class="sep"></li>
						<li><a href="#" title="Previous week"><img src=" /assets/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li class="controls-block">Week 27</li>
						<li class="sep"></li>
						<li><a href="#" title="Next week"><img src=" /assets/icons/fugue/navigation.png" width="16" height="16"></a></li>
					</ul>
				</div>
				
				<ul class="week-calendar no-margin">
					<li class="week-cal-hours">
						<div><span class="day">&nbsp;</span></div>
						<ul>
							<li><span>08:00</span></li>
							<li><span>09:00</span></li>
							<li><span>10:00</span></li>
							<li><span>11:00</span></li>
							<li><span>12:00</span></li>
							<li><span>01:00</span></li>
							<li><span>02:00</span></li>
							<li><span>03:00</span></li>
							<li><span>04:00</span></li>
							<li><span>05:00</span></li>
							<li><span>06:00</span></li>
							<li><span>07:00</span></li>
							<li><span>08:00</span></li>
						</ul>
					</li>
					
					<li class="day1 weekend">
						<div class="day">Sunday</div>
						<ul>
							<li class="lunch from-12 to-14"></li>
						</ul>
					</li>
					
					<li class="day2">
						<div class="day">
							<ul class="dot-events with-children-tip">
								<li class="red">Tax payment limit date</li>
								<li><a href="#">Check server hard drive logs</a></li>
							</ul>
							Monday
						</div>
						<ul>
							<li class="lunch from-12 to-14"></li>
							<li class="from-10-15 to-11-45">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">10:15 - 11:45</span>
								Event description
							</li>
							<li class="from-14 to-17 purple">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">14:00 - 17:00</span>
								Event description
							</li>
						</ul>
					</li>
					
					<li class="day3">
						<div class="day">Tuesday</div>
						<ul>
							<li class="lunch from-12 to-14"></li>
							<li class="from-9 to-11-30 half-left">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">09:00 - 11:30</span>
								Event description
							</li>
							<li class="from-10-30 to-12 half-right blue">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">10:30 - 12:00</span>
								Event description
							</li>
							<li class="from-16 to-17-30 orange">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">16:00 - 17:30</span>
								Event description
							</li>
						</ul>
					</li>
					
					<li class="day4">
						<div class="day">Wednesday</div>
						<ul>
							<li class="unavailable"></li>
						</ul>
					</li>
					
					<li class="day5">
						<div class="day">Thursday</div>
						<ul>
							<li class="unavailable from-9 to-11"></li>
							<li class="lunch from-12 to-14"></li>
							<li class="from-14-15 to-17-45 green">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">14:15 - 17:45</span>
								Event description
							</li>
						</ul>
					</li>
					
					<li class="day6">
						<div class="day">Friday</div>
						<ul>
							<li class="lunch from-12 to-14"></li>
							<li class="from-10-15 to-11-45">
								<ul class="mini-menu">
									<li><a href="#" title="Edit"><img src=" /assets/icons/fugue/pencil.png" width="16" height="16"></a></li>
									<li><a href="#" title="Delete"><img src=" /assets/icons/fugue/cross-circle.png" width="16" height="16"></a></li>
								</ul>
								<span class="event-time">10:15 - 11:45</span>
								Event description
							</li>
						</ul>
					</li>
					
					<li class="day7 weekend">
						<div class="day">Saturday</div>
						<ul>
							<li class="lunch from-12 to-14"></li>
						</ul>
					</li>
					
				</ul>
			</div></div>