<div class="block-border"><form class="block-content form" id="simple_form" method="post" action="">
				<h1>Simple form</h1>
				
				<fieldset class="grey-bg required">
					<legend>Fieldset with background</legend>
					<p>
						<label for="simple-required">Required input</label>
						<input type="text" name="simple-required" id="simple-required" value="" class="full-width">
					</p>
				</fieldset>
				
				<fieldset>
					<legend>Fieldset</legend>
					
					<ul class="message error no-margin">
						<li>This is an <strong>error message</strong>, inside a form</li>
					</ul>
					
					<p>
						<label for="simple-calendar">Date selector</label>
						<span class="input-type-text margin-right error relative"><input type="text" name="simple-calendar" id="simple-calendar" value="" class="datepicker"><img src=" /assets/icons/fugue/calendar-month.png" width="16" height="16"><span class="check-error"></span></span> 
						<button type="button" class="grey">Today</button>
					</p>
					<p>
						<span class="label">Inline checkable</span>
						<input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-1" value="1">&nbsp;<label for="simple-checkbox-1">Views</label> 
						<input type="checkbox" name="simple-checkbox[]" id="simple-checkbox-2" value="2">&nbsp;<label for="simple-checkbox-2">Unique visitors</label>
					</p>
					
					<div class="columns">
						<div class="colx2-left">
							<span class="label">Checkable list</span>
							<ul class="checkable-list">
								<li><input type="radio" name="simple-radio" id="simple-radio-1" value="1">&nbsp;<label for="simple-radio-1">Group</label></li>
								<li><input type="radio" name="simple-radio" id="simple-radio-2" value="2">&nbsp;<label for="simple-radio-2">Separate</label></li>
							</ul>
						</div>
						<p class="colx2-right">
							<label for="simple-select">Select</label>
							<select name="simple-select" id="simple-select" class="full-width">
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
								<option value="4">Option 4</option>
							</select>
						</p>
					</div>
					
					<div class="columns">
						<div class="colx2-left">
							<label for="simple-switch-off">Switch off</label>
							<input type="checkbox" name="simple-switch-off" id="simple-switch-off" value="1" class="switch">
						</div>
						<p class="colx2-right">
							<label for="simple-switch-on">Switch on</label>
							<input type="checkbox" name="simple-switch-on" id="simple-switch-on" value="1" checked="checked" class="switch">
						</p>
					</div>
					
				</fieldset>
				
				<fieldset class="grey-bg no-margin">
					<legend>Action on create</legend>
					<p class="input-with-button">
						<label for="simple-action">Select action</label>
						<select name="simple-action" id="simple-action">
							<option value="1">Save and publish</option>
							<option value="2">Save only</option>
						</select>
						<button type="button">Create</button>
					</p>
				</fieldset>
					
			</form></div>