<div class="block-border"><div class="block-content">
				<h1>Large calendar</h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li><a href="#" title="Previous month"><img src=" /assets/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li class="controls-block"><strong>June 2010</strong></li>
						<li class="sep"></li>
						<li><a href="#" title="Next month"><img src=" /assets/icons/fugue/navigation.png" width="16" height="16"></a></li>
					</ul>
				</div>
				
				<div class="no-margin">
					<table cellspacing="0" class="calendar">
						<thead>
							<tr>
								<th scope="col" class="black-cell"><span class="success"></span></th>
								<th scope="col" class="week-end">Sunday</th>
								<th scope="col">Monday</th>
								<th scope="col">Tuesday</th>
								<th scope="col">Wednesday</th>
								<th scope="col">Thursday</th>
								<th scope="col">Friday</th>
								<th scope="col" class="week-end">Saturday</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">13</th>
								<td class="week-end other-month">
									<span class="day">28</span>
								</td>
								<td class="other-month">
									<span class="day">29</span>
								</td>
								<td class="other-month">
									<span class="day">30</span>
								</td>
								<td class="other-month">
									<span class="day">31</span>
								</td>
								<td>
									<a href="#" class="day">1</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">2</a>
									<ul class="dot-events with-children-tip">
										<li><a href="#">Lena's birthday</a></li>
										<li><a href="#">Replace server hard drive</a></li>
										<li><a href="#">Max's birthday</a></li>
									</ul>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="week-end">
									<a href="#" class="day">3</a>
									<a href="#" class="add-event">Add</a>
								</td>
							</tr>
							<tr>
								<th scope="row">14</th>
								<td class="week-end">
									<a href="#" class="day">4</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">5</a>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li><a href="#"><b>9:00</b> Meeting</a></li>
										<li><a href="#"><b>11:00</b> Meeting with D.H.</a></li>
									</ul>
									<div class="more-events">
										3 more events
										<ul>
											<li><a href="#"><b>14:00</b> Meeting</a></li>
											<li><a href="#"><b>17:00</b> Soccer</a></li>
											<li><a href="#"><b>21:00</b> Diner with Jane</a></li>
										</ul>
									</div>
								</td>
								<td>
									<a href="#" class="day">6</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">7</a>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li><a href="#"><b>9:00</b> Meeting</a></li>
									</ul>
								</td>
								<td>
									<a href="#" class="day">8</a>
									<ul class="dot-events with-children-tip">
										<li class="red">Tax payment limit date</li>
										<li><a href="#">Check server hard drive logs</a></li>
									</ul>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day today">9</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="week-end">
									<a href="#" class="day">10</a>
									<a href="#" class="add-event">Add</a>
								</td>
							</tr>
							<tr>
								<th scope="row">15</th>
								<td class="week-end">
									<a href="#" class="day">11</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">12</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">13</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">14</a>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li class="red"><b>17:00</b> Meeting</li>
									</ul>
								</td>
								<td>
									<a href="#" class="day">15</a>
									<ul class="dot-events with-children-tip">
										<li class="red">John's birthday</li>
									</ul>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li><a href="#"><b>17:00</b> Soccer</a></li>
									</ul>
								</td>
								<td>
									<a href="#" class="day">16</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="week-end">
									<a href="#" class="day">17</a>
									<a href="#" class="add-event">Add</a>
								</td>
							</tr>
							<tr>
								<th scope="row">16</th>
								<td class="week-end">
									<a href="#" class="day">18</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">19</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">20</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">21</a>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li><a href="#"><b>8:00</b> Meeting</a></li>
									</ul>
								</td>
								<td>
									<a href="#" class="day">22</a>
									<a href="#" class="add-event">Add</a>
									<ul class="events">
										<li><a href="#"><b>17:00</b> Soccer</a></li>
									</ul>
								</td>
								<td>
									<a href="#" class="day">23</a>
									<ul class="dot-events with-children-tip">
										<li><a href="#">Check server hard drive logs</a></li>
									</ul>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="week-end">
									<a href="#" class="day">24</a>
									<ul class="dot-events with-children-tip">
										<li><a href="#">Send final report</a></li>
									</ul>
									<a href="#" class="add-event">Add</a>
								</td>
							</tr>
							<tr>
								<th scope="row">17</th>
								<td class="week-end">
									<a href="#" class="day">25</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="unavailable">
									<span class="day">26</span>
								</td>
								<td class="unavailable">
									<span class="day">27</span>
								</td>
								<td class="unavailable">
									<span class="day">28</span>
								</td>
								<td>
									<a href="#" class="day">29</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td>
									<a href="#" class="day">30</a>
									<a href="#" class="add-event">Add</a>
								</td>
								<td class="week-end other-month">
									<span class="day">1</span>
									<ul class="dot-events with-children-tip">
										<li>Tom's birthday</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				
				<ul class="message no-margin">
					<li>18 events found</li>
				</ul>
			
			</div></div>