<div class="block-border"><div class="block-content">
				<h1>Timetable</h1>
				
				<div class="block-controls">
					<ul class="controls-buttons">
						<li><a href="<%= timetable_path %>" title="Weekly">Weekly Timetable</a></li>
						<li class="sep"></li>
						<li><a href="#" title="Previous Day"><img src=" /assets/icons/fugue/navigation-180.png" width="16" height="16"></a></li>
						<li class="sep"></li>
						<li class="controls-block">Today</li>
						<li class="sep"></li>
						<li><a href="#" title="Next Day"><img src=" /assets/icons/fugue/navigation.png" width="16" height="16"></a></li>
					</ul>
				</div>
				
				<ul class="message no-margin">
					<li>12 events found</li>
				</ul>
				
				<div class="no-margin">
					<table cellspacing="0" class="list-calendar">
						<tbody>
							<tr class="empty">
								<th scope="row">01</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									No events
								</td>
							</tr>
							<tr>
								<th scope="row">02</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									<ul class="events-dots-list">
										<li><a href="#"><span></span> Lena's birthday</a></li>
										<li><a href="#"><span></span> Replace server hard drive</a></li>
										<li><a href="#"><span></span> Max's birthday</a></li>
									</ul>
								</td>
							</tr>
							<tr class="empty">
								<th scope="row">03</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									No events
								</td>
							</tr>
							<tr class="empty">
								<th scope="row">04</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									No events
								</td>
							</tr>
							<tr>
								<th scope="row">05</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									<ul class="events">
										<li><a href="#"><b>9:00</b> Meeting</a></li>
										<li><a href="#"><b>11:00</b> Meeting with D.H.</a></li>
										<li><a href="#"><b>14:00</b> Meeting</a></li>
									</ul>
									<div class="more-events">
										2 more events
										<ul>
											<li><a href="#"><b>17:00</b> Soccer</a></li>
											<li><a href="#"><b>21:00</b> Diner with Jane</a></li>
										</ul>
									</div>
								</td>
							</tr>
							<tr class="empty">
								<th scope="row">06</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									No events
								</td>
							</tr>
							<tr>
								<th scope="row">07</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									<ul class="events">
										<li><a href="#"><b>9:00</b> Meeting</a></li>
									</ul>
								</td>
							</tr>
							<tr>
								<th scope="row">08</th>
								<td>
									<ul class="mini-menu">
										<li><a href="#" title="Add event"><img src=" /assets/icons/add.png" width="16" height="16"> Add event</a></li>
									</ul>
									<ul class="events-dots-list">
										<li class="red"><span></span> Tax payment limit date</li>
										<li><a href="#"><span></span> Check server hard drive logs</a></li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			
			</div></div>