<section class="grid_16">
	<div class="block-content form" id = "outer_block">
		<h1>Skills</h1>
		<div class="content-columns left">
			<div class="content-columns-sep"></div>
			<div class="content-left">
				<div class="with-head">
					<div class="head">
						<div class="black-cell">
							<span class="error"></span>
						</div>
						<div></div>
					</div>
					<div class="dark-grey-gradient with-padding" style="height:300px; overflow: auto">
						<ul class="arbo with-title">
							<li>
								<a href="#" class="title-computer toggle">Courses</a>
								<% unless @courses.blank? %>
								<ul id = "room_skill_asign">
									<% @courses.each_with_index do |course, i| %>
									<li class="close">
										<span class="toggle"></span>
										<a href="#" class="folder"><span><%= course.course_name%></span></a>
										<ul>
											<% course.skills.each do |skill| %>
											<li>
												<input type="checkbox" name="not_Available" data_skill = "<%= skill.id%>" class = "check_room_assign" data_skill_name = "<%= skill.full_name%>"/>
												<%= skill.name%>
											</li>
											<%end%>
										</ul>
									</li>
									<%end%>
								</ul>
								<%else%>
								Course not found
								<%end%>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content-right">
				<div class="with-head">
					<div class="head">
						<div class="black-cell with-gap" align="right">
							<span class="success"></span>
						</div>
					</div>
					<div class="dark-grey-gradient with-padding" style="height:300px; overflow: auto">
						<div id="my_room_skill">
							<div >
								<ul class="arbo with-title">
									<li>
								<a href="#" class="title-computer toggle">Skills List</a>
								<ul id="assigned_skill_room">
								</ul>
								</li>
									</ul>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<fieldset class="grey-bg no-margin">
			<legend>
				Action
			</legend>
			<input type="hidden" name="assign_skill" id = "assign_skill_to_room" />
			<button id="create_room_skill" type="submit">
				Save
			</button>
			
		</fieldset>
	</div>
</section>
