<div class="block-border" id="outer_block">
	<%= render 'room_entry' %>
</div>
<br/>
<div id="table-block" class="block-border">
	<%= render 'rooms' %>
</div>
<div id="modal-boxes_room" style="display:none">
	<%= render 'room_constraints' %>
	
</div>
<div id="modal-boxes_room_skill" style="display:none">
	<%= render 'all_skill' %>
	
</div>