<p>
	The Selected students will now be trasferred to Alumni database. Add the
	status description for the students. e.g. 'Graduated 10th grade, 2011.
</p>
<div class="block-border" id="outer_block">
	<div class="block-content form" id="complex_form">
		<label for="subject_id">Status description : </label>
		<div class="text-input-bg">
			<%= text_field_tag 'status_description' ,nil ,:class => 'full-width' %>
		</div>
	</div>
</div>
