<div class="block-border" id="outer_block">
		<div class="block-content form" id="complex_form">
		<fieldset class="grey-bg no-margin">
			<legend>
				Change Batch
			</legend>
			<div class="columns">
				<p class="colx3-left required select-fixed-width1">
					<label for="student_grade">Course</label>
					<span class="relative"> <%= select :courses_search, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %></span>
				</p>
				<p class="colx3-center required select-fixed-width1" id="change_batch">
		          <%= render :partial => "batch_transfer_batch"%>
				</p>
			</div>
		</fieldset>
	</div>
</div>
