<div class="block-border" id="outer_block">
	<div class = "block-content form">
	
		<fieldset class="grey-bg">
			<legend>
				Required Fields
			</legend>
			<div class="columns">
				<div class="colx3-left required">
					<label for="elective_name">Name</label>
					<span class="relative"><input type="text" name="elective" id = "elective_group_text"  /> </span>
				</div>
			</div>
	</div>
</div>
