<form class="block-content form" id="table_form" method="post" action="">
	<h1>Finance Transaction Categories List</h1>
	<table id="finance_transaction_category" class="table finance_transaction_category no-margin" cellspacing="0" width="100%">
		<thead>
			<%= render 'table_head' %>
		</thead>
		<tbody>
			<% @finance_transaction_categories.each do |transaction_category| %>
			<%= render 'table_row', :transaction_category => transaction_category %>
			<% end %>
		</tbody>
	</table>
	<input type="hidden" id="url_prefix" name="url_prefix" value="/finance_transaction_categories" />
</form>
