<%= form_for(@instant_fee_collection_detail) do |f| %>
  <% if @instant_fee_collection_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instant_fee_collection_detail.errors.count, "error") %> prohibited this instant_fee_collection_detail from being saved:</h2>

      <ul>
      <% @instant_fee_collection_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
