<div class="block-content form" id="outer_block">
				<h1>Student List</h1>
				
				<table class="table ptmStudentAssign no-margin" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							<th class="black-cell"><input type="checkbox" id="select-assignment_all" ></th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Name
							</th>
							<th scope="col">Admission Number</th>
							<th scope="col">
								<span class="column-sort">
									<a href="#" title="Sort up" class="sort-up"></a>
									<a href="#" title="Sort down" class="sort-down"></a>
								</span>
								Roll No
							</th>
						</tr>
					</thead>
					
					<tbody>
						<% @student.each do |student| %>
						<tr>
							<td class="th table-check-cell"><%= check_box_tag 'assignment[students][]', student.id, false %></td>
							<td><%=link_to student.full_name ,:controller => 'student', :action => 'my_profile', :q	=> student.admission_no%></td>
							<td><%=student.admission_no%></td>
							<td><%=student.class_roll_no%></td>
							
						</tr>
						<%end%>
					</tbody>
					</table>
					</div>
					
