<fieldset >
	<br/>
	<br/>
	<h4>The Batch has Weekdays set in Common. To add customized weekdays click ADD Weekdays </h4>
</fieldset>
<fieldset class="grey-bg no-margin">
	<legend>
		Action
	</legend>
	<p class="input-with-button">
		<% if @b.nil?%>
		<%= link_to 'ADD Weekdays',{:action => "weekdays_modal", :batch_id => ''}, :remote => true,:class => "week_days big-button", :data_batch =>"common" , :title => "create class Timing"%>

		<% else %>
		<%= link_to 'ADD Weekdays',{:action => "weekdays_modal", :batch_id => @b.id}, :remote => true,:class => "week_days big-button", :data_batch =>"common" , :title => "create Weekdays"%>

		<% end %>
		<%= button_to_function "Reset", "$(location).attr('href','/weekdays');", :class => "big-button" %>
	</p>
</fieldset>