<div id="outer_block">
	<div class="block-content form">
 <fieldset class="grey-bg required">
					<legend>Event creation</legend>
					<div class="column">
					<div class="colx2-left">
						<label for="start_date">Start Date</label>
						<span class="relative">
							
							<%= text_field_tag :start_date ,nil, :value => @event.start_date.strftime("%Y-%m-%d %H:%M:%S"), :id => "add_pickerfield1" ,:readonly => "1"%>
						</span>
					</div>
					<div class="colx2-right">
						<label for="end_date">End Date</label>
						<span class="relative">
							<%= text_field_tag :end_date ,nil, :value => @event.end_date.strftime("%Y-%m-%d %H:%M:%S"),:id => "add_pickerfield2",:readonly => "1"%>
						</span>
					</div>
					</div>
					<br />
					<div class="column">
					 <div class="colx3-left-double required">
                       <label for="title">Title</label>
                       <span class="relative">
                       	<%= text_field_tag :event_title ,nil,:class => "full-width" ,:value => @event.title%>
                       </span>
                    </div>
                    </div>
                 <div class="column">
    				<div class="colx3-left-double required">
      				 <label for="description">  Description</label>
						<span class="relative">
    						<%= text_area_tag :event_description, @event.description,:size=> "52X20"%>
                        </span>   
        		    </div>
        		    </div>
        		  </fieldset>  
</div>
