<div class="block-border" >
	<form class="block-content form" id="donation_search_form" method="" action="">
		<h1>donations</h1>
		<fieldset class="grey-bg no-margin">
			<legend>
				Search Criteria
			</legend>
			<div class="columns">
				<div class="columns">
					<div class="colx3-left" >
						<label for="simple-required">From Date</label>
						<span class="input-type-text">
							<input type="text" name = "date_start" value= "<%= Date.today.strftime('%d''-''%m''-''%Y') %>"  class = "datepicker" id ="start_date_donation"/>
							<img width="16" height="16" src="/assets/icons/fugue/calendar-month.png"> </span>
					</div>
					<div class="colx3-center" >
						<label for="simple-required">To Date</label>
						<span class="input-type-text">
							<input type="text" name = "date_end" value= "<%= Date.today.strftime('%d''-''%m''-''%Y') %>"  class = "datepicker" id ="end_date_donation"/>
							<img width="16" height="16" src="/assets/icons/fugue/calendar-month.png"> </span>
					</div>
					<div class="colx3-right" >
						<br />
						<button id="donation_list_view">
							Search
						</button>
					</div>
				</div>
		</fieldset>
	</form>
	<br />
	<div id = "donation-list" ></div>
	
</div>