<% unless @values.blank? %>
<ul class="mini-blocks-list">
	<% @values.each_with_index do |value, i| %>
	<li>
		<input type="checkbox" id="teacher_<%= value.id%>" class = "home_teacher" data-id ="<%= value.id%>" data_employee ="<%= value.full_name%>"/>
		&nbsp; <%= value.full_name%> <ul class="tags float-right"></ul>
	</li>
	<%end%>
</ul>
<%else%> <h2>No found</h2>
<%end%> 