
<table id="student-table" class="table students-table no-margin" cellspacing="0" width="100%">
<thead>
	<tr>
		<th scope="col">
			<span class="column-sort">
				<a href="#" title="Sort up" class="sort-up"></a>
				<a href="#" title="Sort down" class="sort-down"></a>
			</span>
			Sl.no
		</th>
		<th scope="col">
			<span class="column-sort">
				<a href="#" title="Sort up" class="sort-up"></a>
				<a href="#" title="Sort down" class="sort-down"></a>
			</span>
			Name
		</th>
		
		<th scope="col">
			<span class="column-sort">
				<a href="#" title="Sort up" class="sort-up"></a>
				<a href="#" title="Sort down" class="sort-down"></a>
			</span>
			Admission Number
		</th>
		
	</tr>
 </thead>
 <tbody>  
 	<% unless @students.empty? %>
      <% @slno = 0 %>
      <% @students.each do |student| %>
        <% @slno= @slno + 1 %>
 		  <tr >
          <td ><%=  @slno %></td>
          <td ><%= student.full_name%></td>
          <td ><%= student.admission_no %> </td>
        </tr>
      <% end %> <% end %>
   </tbody>  
</table>   