<table id="history_subject-table" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th scope="col"> Is Common </th>
			<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Subject </th>
			
		</tr>
	</thead>
	<tbody>
		<% @subjects.each do |subject| %>
		<% @skill = Skill.find_by_id(subject.skill_id)%>
		<tr >
			<td class="th table-check-cell"> <% if  subject.is_common == true %>
			<input type="checkbox" name="<%= subject.id %>" class ="skill_check" checked >
			<%else%>
			<input type="checkbox" name="<%= subject.id %>" class ="skill_check" >
			<%end%> </td>
			<td ><%= subject.name%></td>
		</tr>
		<% end %>
	</tbody>
</table>
