
				<% unless @values.blank? %>
				
				<ul class="mini-blocks-list">
					<% @values.each_with_index do |value, i| %>
					<li>
						<input type="checkbox" id="room_<%=value.id%>" class = "home_room" data-id ="<%=value.id%>"/>
						&nbsp; <%= value.name%>
						<ul class="tags float-right">
							
						</ul>
					</li>
					<%end%>
				</ul>
				<%else%>
				
				<h2>No matching records found</h2>
				
				<%end%>
				
