<p class = "select-fixed-width1">
	<label for="simple-action"> Batch</label>
	<input type="hidden" name="course" value="<%=@course.id%>" />
	<%=select :batch, :name, @batch_value.map {|b| [b.full_name, b.id]} %>
</p>