<div class="no-margin"><table class="table" cellspacing="0" width="100%">
				
					<thead>
						<tr>
							
							<th scope="col">
								Name
							</th>
							<th scope="col">
								Start Time
							</th>
							<th scope="col">
								End Time
							</th>
							
						</tr>
					</thead>
					
					<tbody>

						<% unless @class_timings.empty? %>
						<% @class_timings.each do |class_time|%>
						<tr>
							<td><%= class_time.name %></td>
							<td><%= class_time.start_time.strftime("%I:%M %p") %></td>
							<td><%= class_time.end_time.strftime("%I:%M %p") %></td>
						</tr>
						<%end%>
						<%end%>
						
					</tbody>
				
				</table></div>
