<div class="block-border" >
	<form class="block-content form" id="batch_subject_form" method="" action="">
		<h1>Batch</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href='/courses/all_record' title ="Courses" ><%= image_tag "dashboard/grade_level.png", :size => "24x24"  %></a>
				</li>
				<li >
					<!-- <a href="/courses/all_record" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a> -->
					<a href='javascript:' title ="Back" class = "back"><img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
		<fieldset class="grey-bg">
			<legend>
				Batch
			</legend>
			<div class="columns">
				<div class="colx2-left required select-fixed-width1">
					<p>
						<label for="simple-action" class = "load">Course</label>
						<%= select :history_select, :courses, @courses_value.map {|b| [b.course_name , b.id]} ,:prompt => "Select" %>
					</p>
				</div>
				<div class="colx2-right required" id = "history_batch_select_batch">
					<%= render 'history_select_batch' %>
				</div>
			</div>
		</fieldset>
	<div id = "full_history">
		
		
	</div>
	</form>
</div>