				<form class="block-content form" id="table_form" method="post" action="">
					<h1>Student Category List</h1>
					<div>
						<ul class="tabs js-tabs">
							<li class="current"><a href="#tab-active" title="Active">Active</a></li>
							<li><a href="#tab-inactive" title="Inactive">Inactive</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active">
							<table id="active-table" class="table studentcategoryfields no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @active_student_category.each do |student_category| %>
									<%= render 'table_row', :student_category => student_category %>
									<% end %>
								</tbody>
							</table>
						</div>
						<div id="tab-inactive">
							<table id="inactive-table" class="table studentcategoryfields no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @inactive_student_category.each do |student_category| %>
									<%= render 'table_row', :student_category => student_category %>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/student_categories" />
				</form>	