<%= form_for(@archived_additional_exam_score) do |f| %>
  <% if @archived_additional_exam_score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archived_additional_exam_score.errors.count, "error") %> prohibited this archived_additional_exam_score from being saved:</h2>

      <ul>
      <% @archived_additional_exam_score.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
