<h1>Listing archived_additional_exam_scores</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @archived_additional_exam_scores.each do |archived_additional_exam_score| %>
  <tr>
    <td><%= link_to 'Show', archived_additional_exam_score %></td>
    <td><%= link_to 'Edit', edit_archived_additional_exam_score_path(archived_additional_exam_score) %></td>
    <td><%= link_to 'Destroy', archived_additional_exam_score, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Archived additional exam score', new_archived_additional_exam_score_path %>
