
<% unless @department_event.empty? %>
<div class="columns">
	<p class="colx1-left">
    	<button type="button" id="selects_course">Select Course/Departments</button>
   </p> 
  <% else %>
  
  	<p class="colx2-left">
		No department selected for this event yet :
	</p>
	<p class="colx2-right">
    	<button type="button" id="selects_course">Select Course/Departments</button>
   </p

  </div>

  <% end %>