<%= form_for(@archived_student_award) do |f| %>
  <% if @archived_student_award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@archived_student_award.errors.count, "error") %> prohibited this archived_student_award from being saved:</h2>

      <ul>
      <% @archived_student_award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
