<div class="block-border" id ="outer_block">
	<div class="block-content form" id="table_form">
		<%= render "employee_create_reminder"%>
	</div>
	
<!--  <button type="button" id = "window_open" onclick="$(location).attr('href','http://www.smsgatewaycenter.com/library/send_sms_2.php?UserName=ezzie&Password=09890989&Type=Individual&To=9050736988&Mask=DEMOSGC&Message=Hello ');">Next</button>  -->
<!-- <button type="button" id = "window_open" onclick="$(location).attr('href','/reminder/sms');">Next</button>  -->
</div>
