<div class="block-border" id="outer_block">
	<div class="block-content form">
<h1>PTM</h1>
 <fieldset>
	<legend>
			Parent Teacher Meeting
		</legend>
		<div class="columns">					
		    <p class="colx3-left select-fixed-width1">
				<%= select :ptm_student, :batch_id, @batches.map{|c| [c.full_name, c.id]},{:prompt=>'Select'}%>
			</p>
			</div>
			<div class="columns">					
		    <p class="colx3-left">
			<div id="parent_teacher_meeting" ></div>
			</p>
			</div>
</fieldset>
<br />
<div id="parent_teacher_meeting" ></div>
</div>
</div>