<table class="table allEmployeeDiary no-margin" id="ptmfeed" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th class="black-cell"></th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Name
			</th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Employee Number</th>
			<th scope="col">
				<span class="column-sort">
					<a href="#" title="Sort up" class="sort-up"></a>
					<a href="#" title="Sort down" class="sort-down"></a>
				</span>
				Department
			</th>
		</tr>
	</thead>
	
	<tbody>
		<% @employee.each do |employee| %>
		<tr>
			<td class="th table-check-cell"></td>
			<td><%=link_to employee.full_name ,{:controller => 'teacher_diaries', :action => 'view_diary',:id =>employee.id} ,:class => 'viewEmployeeDiary' ,:employee_id =>employee.id  %></td>
			<td><%=employee.employee_number %></td>
		    <td><%=employee.employee_department.name %></td>
		    <input type="hidden" id="viewEmployeeDiary" value="<%=employee.id%>" />
		</tr>
		<%end%>
	</tbody>

</table>