				<form class="block-content form" id="table_form" method="post" action="">
					<h1>Transport Fee Category List</h1>
					<div>
						<ul class="tabs js-tabs">
							<li class="current"><a href="#tab-active" title="Active">Active</a></li>
							<li><a href="#tab-inactive" title="Inactive">Inactive</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active">
							<table id="active-table" class="table transport_fee no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
									
									<% @active_transport_fee_categories.each do |fee_category| %>
									<%= render 'table_row', :fee_category => fee_category %>
									<% end %>
								
							</table>
						</div>
						<div id="tab-inactive">
							<table id="inactive-table" class="table transport_fee no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
										
									<% @inactive_transport_fee_categories.each do |fee_category| %>
									<%= render 'table_row', :fee_category => fee_category %>
									<% end %>
								
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/transport_fee_categories" />
				</form>	