<section class="grid_4">
			<div class="block-border">
				<div class="block-content">
				<ul class="collapsible-list with-bg">
					<li>
						<b class="toggle"></b>
						<span>Expanded element</span>
						<ul class="with-icon icon-group">
							<li class="close">
								<span>Administrators</span>
								<ul class="icon-user">
									<li><a href="#">Jane</a></li>
									<li><a href="#">George</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				
			</div></div>
		</section>