
					<div>
						<ul class="tabs js-tabs">
							<li class="current"><a href="#tab-active" title="Active">Active</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active">
							<table id="active-table" class="table instantfeesParticulars no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>	
									<% @fee_particulars.each do |fees_particulars| %>
									<%= render 'table_row', :fees_particulars => fees_particulars %>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/instant_fee_particulars" />
