
	table {
	font: 15px/24px Verdana, Arial, Helvetica, sans-serif;
	width: 800px;
    margin-top: 1em;
    margin-bottom: 15em;
   	border-color: #600;
    border-width: 0 0 1px 1px;
    border-style: solid;
    
	}

th {
	padding: 0 0.5em;
	text-align: left;
	}

tr.yellow td {
	border-top: 1px solid #FB7A31;
	border-bottom: 1px solid #FB7A31;
	background: #FFC;
	}

td {
	border-bottom: 1px solid #CCC;
	padding: 0 0.5em;
	}

td.width {
	width: 190px;
	}

td.adjacent {
	border-left: 1px solid #CCC;
	text-align: center;
	}

.page_body{
	background: blue;
}
