@CHARSET "UTF-8";

 /*demo page css*/


            .demoHeaders {
                margin-top: 2em;
            }

            #dialog_link {
                padding: .4em 1em .4em 20px;
                text-decoration: none;
                position: relative;
            }

            #dialog_link span.ui-icon {
                margin: 0 5px 0 0;
                position: absolute;
                left: .2em;
                top: 50%;
                margin-top: -8px;
            }

            ul#icons {
                margin: 0;
                padding: 0;
            }

            ul#icons li {
                margin: 2px;
                position: relative;
                padding: 4px 0;
                cursor: pointer;
                float: left;
                list-style: none;
            }

            ul#icons span.ui-icon {
                float: left;
                margin: 0 4px;
            }

            
           	.selHrs, .selMins {
           		width:2.5em;
           	}
           	.selHrs {
           		margin-left:5px;
           	}
           	.dayPeriod {
           		display:inline-block;
           		width:20px;
           	}
           	.slider {
           		height:120px; 
           		float:left; 
           		margin:10px
           	}
           	
           	#tpSelectedTime {
           		margin-bottom:0;
           		border-bottom:1px solid #aaa;
           		padding:5px;
           		color:#000;
           		background:#fff;
           		text-transform:none;
           		
           	}
           	#tpSelectedTime span {
           		font-weight:bold;
           	}
           	#datepicker {
           		
           	}
           	#pickerplug {
           		overflow:hidden;
           		display:none;          		
           		position:absolute;
           		top:200px;
           		left:300px;           
           		z-index:999999;	
           	}
           	#ui-datepicker-div{
           		z-index:999999 !important;
           	}
           	#pickerplug li {
           		display:block;
           		float:left;
           	}
           	#timepicker {
           		border:1px solid #aaa;           		
           		background:#fff;
           	}
           	#timepicker ul {
           		overflow:hidden;
           		padding:5px;
           	}
           	#timepicker ul li {
           		position:relative;
           		display:block;
           		float:left;
           		width:50px;
           		        		
           	}
           	#timepicker ul li h4 {
           		width:100%;
           		background:transparent;
           		color:#000;
				text-align:center;           		           		
           	}
           	#timepicker ul li .slider {
           		position:relative;
           		left:10px;
           		
           	/*	background:#FBF9EE url(images/ui-bg_glass_55_fbf9ee_1x400.png) repeat-x scroll 50% 50%;
				border:1px solid #FCEFA1;*/
           	}
           	

/* Copyright: Guillermo Rauch <http://devthought.com/> - Distributed under MIT - Keep this message! */

/* TextboxList sample CSS */
ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
/*ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }*/
ul.holder li.bit-box, ul.holder li.bit-input input { font: 1em "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
ul.holder { margin: 0 !important }
ul.holder li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; z-index:1000;}
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter */

.facebook-auto { display: none; position: absolute; background: #eee; z-index:1001;}
.facebook-auto .select_all_items {display: block; float: right;}
.facebook-auto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px;font-family:"Lucida Grande","Verdana"; font-size:11px; background-color: black; width: 100px;color: white;text-align: center; }
.facebook-auto ul { display: none; margin: 0; padding: 0; overflow: auto; position:absolute; z-index:9999}
.facebook-auto ul li { padding: 5px 12px; z-index: 1000; cursor: pointer; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; background-color: #eee }
.facebook-auto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
.facebook-auto ul li.auto-focus { background: #4173CC; color: #fff; }
.facebook-auto ul li.auto-focus em { background: none; }
.deleted { background-color:#4173CC !important; color:#ffffff !important;}
.hidden { display:none;}

#demo ul.holder li.bit-input input { padding: 2px 0 1px; border: 1px solid #999; }
.ie6fix {height:1px;width:1px; position:absolute;top:0px;left:0px;z-index:1;}




/*mahinder*/
ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 5px 0; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder1 li { float: left; list-style-type: none; margin: 0 5px 4px 0; white-space:nowrap;}
/*ul.holder1 li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }*/
ul.holder1 li.bit-box, ul.holder li.bit-input input { font: 1em "Lucida Grande", "Verdana"; }
ul.holder1 li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder1 li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
/*ul.holder1 li.bit-input input { width: auto; overflow:visible; margin: 0; border: 0px; outline: 0; padding: 3px 0px 2px; }*/ /* no left/right padding here please */
ul.holder1 li.bit-input input { width: auto; overflow:visible; margin: 0; outline: 0; padding: 3px 0px 2px; height: 20px;}
ul.holder1 li.bit-input input.smallinput { width: 20px; }

/* Facebook demo CSS */
ul.holder1 { margin: 0 !important }
ul.holder1 li.bit-box, #apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; z-index:1000;}
#apple-list ul.holder1 li.bit-input { margin: 0; }
#apple-list ul.holder1 li.bit-input input.smallinput { width: 5px; }
ul.holder1 li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder1 li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder1 li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('close.gif'); }
ul.holder1 li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder1 li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }




