
<div class="columns">
	<p class="colx3-left required select-fixed-width1">
		<label for="course">Course</label>
		<%= select("category","cou" ,Course.active.map {|s| [s.course_name, s.id]}, :prompt => "Select")%>
		</p>
		<div id="change_student_batch">
		<p class="colx3-center required select-fixed-width1">
		<label for="batch">Batch</label>
		<%= select("category","batche" ,@batches.map {|s| [s.full_name, s.id]}, :prompt => "Select")%>
		</p>
		</div>
		<p class="colx3-right required select-fixed-width1">
		<label for="category">Student Category</label>
		<%= select( "category", "batch",@student_categories.map {|s| [s.name, s.id]} ,:prompt=>"Select") %>
	</p>
</div>

