
<div class="columns">
	<p class="colx3-left select-fixed-width1">
		<label for="course">Course</label>
		<%= select("category","cours" ,Course.active.map {|s| [s.course_name, s.id]}, :prompt => "Select")%>
		</p>
		<p class="colx3-center select-fixed-width1">
		<label for="category">Student Category</label>
		<%= select( "category", "course",@student_categories.map {|s| [s.name, s.id]} ,:prompt=>"Select") %>
	</p>
</div>

