


<div class="columns">
	<p class="colx2-left select-fixed-width1">
		<label for="student category">Student Category</label>
		<%= select( "category", "all",@student_categories.map {|s| [s.name, s.id]} ,:prompt=>"Select") %>
		</p>
</div>

