
<div class="columns">
	<p class="colx3-left select-fixed-width1">
		<label for="course">Course</label>
		<%= select("gender","cours" ,Course.active.map {|s| [s.course_name, s.id]}, :prompt => "Select")%>
		</p>
		<p class="colx3-center select-fixed-width1">
		<label for="course">Gender</label>
		<%= select( "gender", "course", { "Male" => "M", "Female" => "F"},:prompt=>"Select") %>
	</p>
</div>

