


<div class="columns">
	<p class="colx2-left select-fixed-width1">
		<label for="gender">Gender</label>
		<%= select( "gender", "all", { "Male" => "M", "Female" => "F"},:prompt=>"Select") %>
		</p>
</div>

