<fieldset>
		<legend>
			Upload image
		</legend>
		<div class="columns">	
				
		    <p class="colx3-left">
				<label for="address_line_1">Student Photo</label>
				<%= s.file_field :student_photo , :class => "full-width", :id => "upload_image"%>
			</p>
			
		 </div>
        
</fieldset>
