
<div class="columns">
	<p class="colx3-left select-fixed-width1">
		<label for="course">Course</label>
		<%= select("religion","cours" ,Course.active.map {|s| [s.course_name, s.id]}, :prompt => "Select")%>
		</p>
		<p class="colx3-center select-fixed-width1">
		<label for="religion">Religion</label>
		<%= select( "religion", "course", { "Hindu" => "Hindu", "Muslim" => "Muslim", "Christian" => "Christian", "Sikh" => "Sikh", "Jain" => "Jain", "Buddhist" => "Buddhist","Other"=>"Other"},:prompt=>"Select") %>
	</p>
</div>

