


<div class="columns">
	<p class="colx2-left select-fixed-width1">
		<label for="religion">Religion</label>
		<%= select( "religion", "all", { "Hindu" => "Hindu", "Muslim" => "Muslim", "Christian" => "Christian", "Sikh" => "Sikh", "Jain" => "Jain", "Buddhist" => "Buddhist","Other"=>"Other"},:prompt=>"Select") %>
		</p>
</div>

