
<div class="columns">
	<p class="colx3-left select-fixed-width1">
		<label for="course">Course</label>
		<%= select("re","course" ,Course.active.map {|s| [s.course_name, s.id]}, :prompt => "Select")%>
		</p>
		<div id="change_student_batch">
		<p class="colx3-center select-fixed-width1">
		<label for="batch">Batch</label>
		<%= select("religion","batche" ,@batches.map {|s| [s.full_name, s.id]}, :prompt => "Select")%>
		</p>
		</div>
		<p class="colx3-right select-fixed-width1">
		<label for="religion">Religion</label>
		<%= select( "religion", "batch", { "Hindu" => "Hindu", "Muslim" => "Muslim", "Christian" => "Christian", "Sikh" => "Sikh", "Jain" => "Jain", "Buddhist" => "Buddhist","Other"=>"Other"},:prompt=>"Select") %>
	</p>
</div>

