<div class="block-border">
	<div class="block-content form">
		<h1>School Reports</h1>
		<div class="block-controls enoch_block">
				<ul class="controls-tabs js-tabs">
					<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back%>
				</li>
				</ul>
			</div>
			
			
			<table cellspacing="0" class="list-calendar">
						<tbody>
										
							<tr class="empty">
								<th scope="row">1</th>
								<td>
									<a href="/student/report_card_index"><b>Student Report Card</b></a>
								</td>
								
							</tr>
							<tr class="empty">
								<th scope="row">2</th>
								<td>
									<a href="/student/report_index"><b>School Basic Reports</b></a>
								</td>
								
							</tr>
							<tr class="empty">
								<th scope="row">3</th>
								<td>
									<a href="/transport_details/transport_report"><b>Transport Reports</b></a>
								</td>
								
							</tr>
							<tr class="empty">
								<th scope="row">4</th>
								<td>
									<a href="#"><b>Fee Reports</b></a>
								</td>
								
							</tr>
							<tr class="empty">
								<th scope="row">5</th>
								<td>
									<a href="#"><b>Library Reports</b></a>
								</td>
								
							</tr>
							
							<tr class="empty">
								<th scope="row">6</th>
								<td>
									<a href="/student/student_pdf"><b>Student PDF</b></a>
								</td>
								
							</tr>
							</tbody></table>
		
			
			
	</div>
</div>
