<p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_passenger_board_transport_detail_path(@passenger_board_transport_detail) %> |
<%= link_to 'Back', passenger_board_transport_details_path %>
