<%= form_for(@transport_fee_collection) do |f| %>
  <% if @transport_fee_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transport_fee_collection.errors.count, "error") %> prohibited this transport_fee_collection from being saved:</h2>

      <ul>
      <% @transport_fee_collection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
