<div class="block-border" id="outer_block">
	<div class="block-content form">
		<div class="columns">	
		    <p class="colx2-left required">
				<label for="student_phone1">Reason</label>
				<span class="relative"><%=text_field_tag :reason,nil,:class => "full-width",:id=> "reason"  %>					
				</span>
			</p>
<div>
</div>
</div>