
	<div class="block-content form" id="outer_block">


<fieldset>
<legend>
	  View fee collection dates
</legend>
  <div class="column">
  	<p class="colx3-left required select-fixed-width1" >
		<label for="Course">Course</label>
		<span class="relative"> <%= select :fee_colection, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %></span>
	</p>
	<p class="colx3-center required select-fixed-width1"  id="change_fee_collection_batch">
		<span class="relative"><%= render :partial => "fee_collection_batch"%></span>
	</p>

  </div>
  
</fieldset>
  <div id="fee_collection_dates"></div>


</div>
