<div class="block-content form" id="outer_block">

<%= form_for :fee_discount, :url=>{:action=>:update_fee_discount, :id=>@fee_discount.id} do |form| %>
<fieldset class="grey-bg">
	<legend>Edit Fees Discount</legend>
<div class="columns">

 <p class="colx2-left">
    <label for="reason"> Name </label>
    <%= form.text_field :name, :disabled=>true ,:class => "full-width"%>
 </p>
 <p class="colx2-right">
    <label for="reason"> Discount(%) </label>
    <%= form.text_field :discount,:class => "full-width" %>
 </p>
</div>
  <% end %>
  </fieldset>
  
</div>