<fieldset>
	  	<legend>
	  		Student Fees Submission
	  	</legend>
  <h1>Fees Submission</h1>
    <%= form_for :fees_submission_batch do %>
    <div class="columns"> 
             <p class="colx3-left required select-fixed-width1"> 
	          <label for="student_grade">Course</label>
	          <%= select :fees_submission, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %>
	        </p>
	         <p class="colx3-center required select-fixed-width1" id="change_feesbatch">
          		<span class="relative"><%= render :partial => "fees_batch"%></span>
        	</p>
        	<p class="colx3-right required select-fixed-width1" id="fees_collection_datesID">
          		<span class="relative"><%= render :partial => "fees_collection_dates"  %></span>
        	</p>
     </div>

    <% end %>
    <div id="studentFeeSubmission"></div>

	  </fieldset>