<label><strong>Master Category</strong></label>
       <%= select_tag :category_id, options_for_select(@all_fee_category.map {|c| [c.name, c.id]}), :prompt => "Select",:id=> "previous_master_category"%>			
	