<div class="block-border" id="outer_block">
	<div class="block-content form">
<h1>Fee Discounts</h1>
 <div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
</div>
<fieldset class="grey-bg">
	<legend>
		Finance Management
	</legend>
<div class="columns">
	<p class="colx3-left required select-fixed-width1">
		 <label for="student_grade">Course</label>
	     <%= select :fees_discount, :course_id, Course.active.map{|c| [c.course_name, c.id]},:prompt => "Select" %>  
	</p>
	<p class="colx3-center required select-fixed-width1" id="feeDiscountBatch">
		<span class="relative"><%= render :partial => "fee_discount_batch"%></span>
	</p>
	<p class="colx3-right required select-fixed-width1" id="feeDiscountMasterCategory" style="display: none;">
		<span class="relative"><%= render :partial => "update_master_fee_category_list"%></span>
	</p>
</div>
</fieldset>
<div id="createdFeesDiscount"></div>
	</div>
</div>