<fieldset>
	<legend>
		Detail
	</legend>

<div class="no-margin">
	<table cellspacing="0" class="list-calendar">
		<tbody>
			<% @employee_attendances.each do |leave_type,leave| %>
			<tr>
				<th scope="row"><h5><%= leave_type  %>:</h5></th>
				<td>
				<ul class="events-dots-list">
					
						<% if leave == [] %>

						No leaves taken

						<% else %>
						<% leave.each do |l| %>
						<li>
						<%= l.attendance_date.strftime("%B %d, %Y") %>
						<% if l.is_half_day==true %>
						(Half Day)
						<% end %>
						</li>
						<% end %>
						<% end %>
					
				</ul></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
</fieldset>