
<div class="block-border">
	<div class="block-content form">


  <h1>Full Leave Reset</h1>
  
  <div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
  




   <% unless flash[:notice].nil? %>
	<ul class="message success grid_12">
       <li><strong><%= flash[:notice] %></strong></li>
       <li class="close-bt"></li>
       	</ul>
    <% end %>

<ul class="message success grid_12">
       <li><strong><div id="reset-box">
      	
        <p> This will reset leave count for all employees </p>
        
      

    </div></strong></li>
       <li class="close-bt"></li>
       	</ul>
      <br />
     <fieldset class="grey-bg no-margin">
									<legend>
										Action
									</legend>
									<p class="input-with-button">
										<input type="button" value="Reset" id="leave_reset" class="big-button" />
									<!-- <input type="button" value="Cancel" id="leave_cancel" class="big-button"/> -->
									</p>
								</fieldset>


  </div>


</div>