
<div class="block-border">
		<div class="block-content form" id="table_form">
		<h1>Employee List</h1>	
			 
<div class="no-margin">
			<table class="table emp_list" id="empList" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th class="black-cell"></th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Number </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Employee Name </th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Department</th>
						<th scope="col"><span class="column-sort"> <a href="#" title="Sort up" class="sort-up"></a> <a href="#" title="Sort down" class="sort-down"></a> </span> Category </th>
					</tr>
				</thead>
				<tbody>
					<% @employee.each do |b| %>
					<tr><td></td>
						<td><%= b.employee_number %></td><td><%= link_to b.full_name, :controller => "employee_attendance", :action => "employee_leave_details", :id => b.id %></td>
						<td><%= b.employee_department.name %></td>
						<td><%= b.employee_category.name %></td>
					</tr>
					<%end%>
				</tbody>
			</table>
</div>

</div></div>
