<div class="block-border" id="outer_block">
	<div class="block-content form">
  <h1>Employee Attendance</h1>
  		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
				</li>
			</ul>
		</div>
  <h3>Report</h3>



  <% unless flash[:notice].nil? %>
    <p class="flash-msg"> <%= flash[:notice] %> </p>
  <% end %>

  <%= form_for :employee_department do |s| %>
    <div class="label-field-pair">
      <label for="employee_department_select">Select the department</label>
      <div class="text-input-bg"><%= select :employee_department, :department_id, @departments.map {|c| [c.name, c.id]}, {:prompt => 'Select'}%></div>
    </div>
  <% end %>

<div id="attendance_report_employee">
	
</div>


</div>
</div>