				<form class="block-content form" id="table_form" method="post" action="">
					<h1>Assessment Indicator List</h1>
					<div>
						<ul class="tabs js-tabs">
							<li class="current"><a href="#tab-active-indicator" title="Active">Active</a></li>
							<li><a href="#tab-inactive-indicator" title="Inactive">Inactive</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active-indicator">
							<table id="active-table" class="table assessmentIndicatorMaster no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @active_indicator.each do |assessment_indicator| %>
									<%= render 'table_row', :assessment_indicator => assessment_indicator %>
									<% end %>
								</tbody>
							</table>
						</div>
						<div id="tab-inactive-indicator">
							<table id="inactive-table" class="table assessmentIndicatorMaster no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @inactive_indicator.each do |assessment_indicator| %>
									<%= render 'table_row', :assessment_indicator => assessment_indicator %>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/co_scholastic_activity_assessment_indicators" />
				</form>	