<!doctype html>
<%= render 'shared/ie' %>
<head>
	<title>New Employee</title>
	<%= render 'shared/global_head' %>
</head>
<body class="special-page wizard-bg">

	<section>
		<%= yield %>
	</section>
	
	<%= render 'shared/js' %>
	
</body>
</html> 