
<div class =  "block-content form " id ="outer_block">
	
	<fieldset>
		<p class="inline-small-label">
			<label class="required" for="field13">Total Fine</label>
			<input type="text"  name = "already Name" id = "all_fine_taken" value="<%= @totalfine%> " disabled= true/>
		</p>
		<p class="inline-small-label" >
			<label class="required" for="field13">Actual fine taken</label>
			<input type="text"  name = "actual"  value="" id = "Actual_fine_taken"/>
		</p>
		
	</fieldset>
</div>
</div> 