<%= form_for(@issue_book_record) do |f| %>
  <% if @issue_book_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_book_record.errors.count, "error") %> prohibited this issue_book_record from being saved:</h2>

      <ul>
      <% @issue_book_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
