<div class="block-border"  id ="outer_block">
	<div class =  "block-content form">
		<h1>Return Book</h1>
		<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to image_tag("/assets/icons/web-app/32/Back.png"),"javascript:history.back()" %>
						</li>
					</ul>
				</div>	
		
		
		<%= render 'shared/form_notice' %>
		<fieldset>
			<div class="columns" id = "book_return_div">
				<div class="colx2-left required">
				<p class="inline-small-label">
					<label class="required" for="field13">Book</label>
					<select  id="book_return" name="return_book" ></select>
				</p>
				</div>
				
			</div>
		</fieldset>
	</div>
</div>
<section class="grid_6 book_return_section1" >
	
</section>
<section class="grid_6 book_return_section2" >
	
</section>