	<div id="control-bar" class="grey-bg clearfix">
		<div class="container_12">	
			<div class="float-left">
				<button type="button"><%= image_tag "icons/fugue/navigation-180.png", :size => "16x16"  %> Previous</button>
				<button type="button" class="grey">Sponsered Links</button> 
				&nbsp;&nbsp;&nbsp; Advertisement - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
			</div>	
			<div class="float-right"> 
				<button type="button" class="red">Shop</button> 
				<button type="button">Next<%= image_tag "icons/fugue/navigation.png", :size => "16x16"  %> </button>
			</div>			
		</div>
	</div>