	<header>
		<div class="container_12">		
			<p id="skin-name"><small>Enoch<br> A School ERP </small> <strong>1.0</strong></p>
			<div class="server-info">Powered by <strong>Ezzie Infosystems</strong></div>
			<div class="server-info">Support: <strong>+919780242630</strong></div>		
		</div>
	</header>
	
	<!-- Logo section -->
	<div id="header-bg">
		<h5 class="big" style="color: white;"><%= Rails.application.config.school_name.upcase %></h5>
		<!-- <%= image_tag "logo6.PNG", :size => "210x40"  %> -->
	</div>