<section>
	
	<ul class="action-tabs with-children-tip children-tip-left">
		<li><a href="javascript:history.back()" title="Go back"><%= image_tag "icons/fugue/navigation-180.png" %></a></li>
	</ul>
	
	<ul class="action-tabs right with-children-tip children-tip-right">
		<li><a href="/" title="Home"><%= image_tag "icons/fugue/home.png" %></a></li>
	</ul>
	
	<div class="block-content no-title dark-bg">
		Please contact your system administrator
	</div>
	
</section>