	<footer>
		
		<div class="float-left">
			<a href="#" class="button">Help</a>
			<a href="#" class="button">About</a>
		</div>
		
		<div class="float-right">
			<a href="#top" class="button"><%= image_tag "icons/fugue/navigation-090.png", :size => "16x16"  %> Page top</a>
		</div>
		
	</footer>