				<%= render 'shared/form_notice' %>
				<% if object.errors.any? %>
				<ul class="message error ">
					<li>
						<strong><%= pluralize(object.errors.count, "error") %></strong> prohibited this <strong><%= object.class.to_s.underscore.humanize.downcase %></strong> from being saved:
						<ul>
							<% object.errors.full_messages.each do |message| %>
						        <li><%= message %></li>
						    <% end %>
						</ul>
					</li>
					<li class="close-bt"></li>
				</ul>					
				<% end %>	