<p>
	<label for="simple-action" >Tag</label>
	<%= select :tag_id, :name, @tags.map {|b| [b.name , b.id]}, {:prompt => 'Select'} ,:id => "select_tags" %> <span class="relative" style = "padding-left: 5em;"> OR </span>
</p>