<div class="block-border" id="outer_block">
<div class="block-content form">
	<h1>Attendance</h1>
	<%= render 'shared/form_notice' %>
	<div class="block-controls enoch_block">
		<ul class="controls-tabs js-tabs">
			<li>
				<a href="<%= dashboard_path(@user) %>" title ="Back"> <img src="/assets/icons/web-app/32/Back.png" width="24" height="24"></a>
			</li>
		</ul>
	</div>
	
	<ul class="shortcuts-list">
		<% if permitted_to? :index, :attendances or @allow_access == true%>
		<li>
			<a href="/attendances" > 
				<span> <%= image_tag "dashboard/student.png", :size => "48x48"  %> </span> 
				<h6>Attendance Register</h6> </a>
		</li>
		<% end %>

		<% if permitted_to? :index, :attendance_reports or permitted_to? :index, :attendances or @allow_access == true%>
		<li>
			<a href="/attendance_reports" > 
				<span> <%= image_tag "/assets/icons/web-app/48/Bar-Chart.png", :size => "48x48"  %> </span> 
				<h6>Attendance Reports</h6> </a>
		</li>
		<% end %>
	</ul>
</div>
</div>

