				<form class="block-content form" id="table_form" method="post" action="">
					<h1>SMS TEMPLATES</h1>
					<div>
						<ul class="tabs js-tabs ">
							<li class="current"><a href="#tab-active" title="Active">Active</a></li>
							<li><a href="#tab-inactive" title="Inactive">Inactive</a></li>
						</ul>
					</div>
					<div id="tabs-content" class="tabs-content">
						<div id="tab-active">
							<table id="active-table_sms" class="table sms_value no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @active.each do |template| %>
									<%= render 'table_row', :template => template %>
									<% end %>
								</tbody>
							</table>
						</div>
						<div id="tab-inactive">
							<table id="inactive-table_sms" class="table sms_value no-margin" cellspacing="0" width="100%">
								<thead>
									<%= render 'table_head' %>
								</thead>
								<tbody>		
									<% @inactive.each do |template| %>
									<%= render 'table_row', :template => template %>
									<% end %>
								</tbody>
							</table>
						</div>
					</div>
					<input type="hidden" id="url_prefix" name="url_prefix" value="/sms_templates" />
				</form>	