
<div class="block-border">
	<div class="block-content">
		
<%unless @employee_salary_structure.empty?%>

							
							<table class="table employee_payroll_details"  cellspacing="0" width="100%">
      	<thead>
        <tr>
        	<th class="black-cell"></th>
        	<th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody><%@payroll_additions=0%>
							
		<%@payroll_deductions=0%>
							<%@employee_salary_structure.each do|ess|%>
							
							<%payroll_category = PayrollCategory.find_by_id(ess.payroll_category_id)%>
							
							 <% if payroll_category.is_deduction== false%>
							<%@payroll_additions += ess.amount.to_f unless ess.amount.nil? %>
							<%else%>
							<%@payroll_deductions += ess.amount.to_f unless ess.amount.nil?%>
							<%end%> 
							
							<tr>
								 <td class="th table-check-cell"></td>
								 <td><%= payroll_category.name%></td>
								 <td><%=ess.amount%></td>
							</tr>
							
							
							<%end%>
							<tr><td></td>
								<td><b>Net Salary</b></td>
								<td><b><%=@payroll_additions-@payroll_deductions%></b></td>
							</tr>
							
							</tbody>
							
							</table>
						
						<fieldset class="grey-bg no-margin">
							<legend>
								Action
							</legend>
							<p class="input-with-button">
								<input type="button" value="Edit" class="big-button" onclick="$(location).attr('href','/payroll/edit_payroll_details?id=<%= @employee.id%>');"/>
							</p>
						</fieldset>
						<%end%>
						
</div></div>
