<html lang="en" class="no-js">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Constellation Admin Skin</title>
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Global stylesheets -->
	<link href="css/reset.css" rel="stylesheet" type="text/css">
	<link href="css/common.css" rel="stylesheet" type="text/css">
	<link href="css/form.css" rel="stylesheet" type="text/css">
	<link href="css/standard.css" rel="stylesheet" type="text/css">
	<link href="css/special-pages.css" rel="stylesheet" type="text/css">
	
	<!-- Custom styles -->
	<link href="css/wizard.css" rel="stylesheet" type="text/css">
	
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="icon" type="image/png" href="favicon-large.png">
	
	<!-- Modernizr for support detection, all javascript libs are moved right above </body> for better performance -->
	<script src="js/libs/modernizr.custom.min.js"></script>
	
</head>
	
		<body class="special-page wizard-bg"><section>
		<div class="block-border">
				
			<h1>New Employee</h1>
			
			<ol class="wizard-steps no-margin">
				<li>
					<a href="employees/demo">
						<span class="number">1<span class="status-ok"></span></span>
						General
						</a>
				</li>
				<li>
					<a href="#">
						<span class="number">2</span>
						Personal 
					</a>
				</li>
				<li>
				<li>
					<a href="#">

						<span class="number">2</span>

						<span class="number">4</span>

						Personal 
					</a>
				</li>
				
			</ol>
			
		
	</section>
	<section class="grid_8" id="main_block">
			<%= yield %>
		</section>
			</body>
	
</html>



  