
<%= form_for :one_click_payslip, :url => {:action => 'one_click_payslip_revert'} do |s|%>


    <div class="label-field-pair">
    <label for="salary_date">Salary month</label>
    <div class="text-input-bg"><%= select :one_click_payslip, :salary_date, @salary_dates.map {|c| [c.salary_date.strftime("%B %Y"),c.salary_date.strftime("%Y-%m-%d")]},
                                              {:prompt => 'Select a month'} %></div>
    </div>

    <fieldset class="grey-bg no-margin">
								<legend>
									Action
								</legend>
								<p class="input-with-button">
									<%= s.submit "Update", :class => "big-button",:id=>'one_click_p_re'%>
								</p>
							</fieldset>



<% end %>



