
<fieldset>
	<legend>
		Image Upload
	</legend>
	<p>
		<label for="simple-select">Image</label>
			<span class="relative"> <%= form.file_field :employee_photo, :class => "full-width", :type => 'file', :id => "photo_id" %> </span>
		
	</p>
</fieldset>

