<div class="block-border">
	<div>
		<div class="block-content form">
			<h1>My Skills</h1>
			<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
					</ul>
			</div>
			<div class="dark-grey-gradient with-padding" style="height:300px; overflow: auto">
				<div id="my_skill"></div>
				<div >
					<ul class="arbo with-title">
						<li>
							<a href="#" class="title-computer toggle">Skills List</a>
							<ul id="assigned_skill">
								<%unless @employee.nil?%>
								<%unless @employee.skills.blank?%>

								<% @employee.skills.each do |skill| %>
								<li class="<%= skill.id%>">
									<%= skill.full_name%>
								</li>
								<%end%>

								<%else%>

								<%end%>
								<%end%>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>
