<div class="block-border" id = "outer_block">
	<form class="block-content form">
		<h1><%= @employee.full_name unless @employee.nil?%> Batches</h1>
		<div class="block-controls enoch_block">
			<ul class="controls-tabs js-tabs">
				<li >
					<%= link_to image_tag("/assets/icons/web-app/32/Back.png"), :back %>
				</li>
			</ul>
		</div>
		<fieldset class="grey-bg ">
			<div class="columns">
				<div class="colx3-left select-fixed-width1">
					<label for="simple-action">Batches</label>
					<%= select :my_batches, :first_name_id,  @batch.map {|b| [b.full_name, b.id] }, {:prompt => 'Select'}%>
				</div>
				<div class="colx3-center" id = "batch_loding"></div>
			</div>
		</fieldset>
		<div id ="employee_batch_student"></div>
		
		<br/>
		<br/><br/>
		<div id = "batch_emp_class">
		<fieldset class="grey-bg no-margin" >
			<legend>
				Action
			</legend>
			<p class="input-with-button">
				<input type="button" class="big-button view_time_table" value="View Timetable"/>
								
			</p>
		</fieldset>
		</div>
	</form>
</div>
