
<div class="block-border">
	<div class="block-content form">
  <h1>Rejected Payslip </h1>
  <h3>Deparatment wise</h3>
  
<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to_function image_tag("/assets/icons/web-app/32/Back.png"), "history.back()" %>
						</li>
					</ul>
				</div>	


    <div class="select-fixed-width1 required">
      <label for="category_prefix">Department</label>
      <div class="text-input-bg"> <%= select :individual_payslip, :department_id, @departments.map { |s| [s.name, s.id] },:prompt => "Select"%> </div>
    </div>
    <div class="extender"></div>
    <div id="employees_select_list"></div>
</div></div>
