<div class="block-border">
	<div class="block-content form">
			<div class="block-controls enoch_block">
					<ul class="controls-tabs js-tabs">
						<li >
							<%= link_to_function image_tag("/assets/icons/web-app/32/Back.png"), "history.back()" %>
						</li>
					</ul>
				</div>	
				<div class="columns">
			<p class="colx3-left required select-fixed-width1">
				<label for="complex-en-url">Department</label>
				<span class="relative"> <%= select :payroll_department, :id, @departments.map { |s| [s.name, s.id]},:prompt =>'Select ' %> </span>
			</p>
			</div>
			
			<div id="payroll_employee"></div>
		 
	</div>
</div>
