<h1>Editing student_co_scholastic_activity_assessment_detail</h1>

<%= render 'form' %>

<%= link_to 'Show', @student_co_scholastic_activity_assessment_detail %> |
<%= link_to 'Back', student_co_scholastic_activity_assessment_details_path %>
